<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div>Hi,<br></div>
    <div> <br></div>
    <div>Thank you for reaching out!<br></div>
    <div> <br></div>
    <div>
        We will reply to you soon. In the meantime, you can reply to this email with any additional information you
        wish to provide. If you have class materials for us to look over, you can attach those to your reply.
        <br><br>
    </div>
    <div>
        Best regards,
        <br><br>
        The ThinkTutor Team
        <br>
        <a href="https://thinktutor.org">https://thinktutor.org</a>
    </div>
    <div>
        <br><br>
    </div>
    <div>{{ name }} wrote:<br></div>
    <blockquote type="cite" id="qt">
        <div dir="ltr">
            <div>
                {{{ body }}}
                <br>
                ---
                <br>
            </div>
            <div>{{ name }}<br></div>
            <div>
                <a href="{{ email }}">{{ email }}</a>
            </div>
        </div>
    </blockquote>
    </div>
</body>

</html>